<meta name="viewport" content="width=device-width, initial-scale=1">

<style media="screen">
  div{
    background-color :grey;
  }
  .btn-group .button{
    background-color: #4CAF50; /* Green */
    border: 2px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    position:bottom;
    width:25%;
  }

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="btn-group">
  <button href="/" class="button" name="button"><a href="/">home</a></button>
  <button href='/loja/menu' class="button" name="button"><a href='/loja/menu'>Loja</a></button>
  <button class="button" name="button"><a href="/estacionamento/entrance">estacionamento<</a></button>
  <button class="button"name="button"><a href="/memoria">Jogo da Memoria</a></button>
</div>
