
<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    div {
      background-color: lightblue;
    }
  </style>

  <body>
  <div class="">

      <h1>Lojas sucesso </h1>
      <li><a href="/.">voltar</a></li>
      <li><a href='/loja/product/top_products/'>Top Products</a></li>
      <li><a href='/loja/product/create/'>criar novo produto</a></li>
      <li><a href='/loja/product/detail/1'>detalhe 1</a></li>
    </div>

      {%block content %}


      {% endblock%}
</body>

</html>
